name: ci-job-if-skip
env: { ENV: ci-job-if-skip, GROUP: ci }
on:
  workflow_dispatch:
jobs:
  first:
    runs-on: ubuntu-latest
    env:
      ARG1: ${{ secrets.ARG1 }}
      ARG2: ${{ secrets.ARG2 }}
    outputs:
      ok: ${{ steps.skip.outputs.ok || steps.not_skip.outputs.ok }}
    steps:
      -  uses: actions/checkout@v4
      -  run: echo ${{ env.ARG1 }}
         if: ${{ env.ARG1 }}
      -  name: "Should Skip"
         id: skip
         run: echo "::set-output name=ok::true"
         if: ${{ env.ARG2 && env.ARG3 }}
      -  name: "Should Not Skip"
         id: not_skip
         run: |
           echo ${{ env.ARG1 }}
           echo "::set-output name=ok::true"
         if: ${{ env.ARG2 || env.ARG1 }}
  second:
    needs: [first]
    runs-on: ubuntu-latest
    if: ${{ needs.first.outputs.ok == true }}
    steps:
      -  name: Get the code
         uses: actions/checkout@v4
      -  name: Print success message
         run: echo ${{ needs.first.outputs.ok }}
  third:
    needs: [second]
    runs-on: ubuntu-latest
    steps:
      -  name: Get the code
         uses: actions/checkout@v4
      -  name: Print success message
         run: echo "third"
