name: ci-job-if-skip
env: { ENV: ci-job-if-skip, GROUP: ci }
on:
  workflow_dispatch:
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      -  name: Get the code
         uses: actions/checkout@v4
      -  name: Check env variable
         run: echo "{{ secrets.ARG1 }}"
  second:
    runs-on: ubuntu-latest
    steps:
      -  name: Get the code
         uses: actions/checkout@v4
      -  name: Print success message
         run: echo "succeed"
      
