name: ci-job-if-skip
env: { ENV: ci-job-if-skip, GROUP: ci }
on:
  workflow_dispatch:
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      -  uses: actions/checkout@v4
      -  run: echo ${{ secrets.ARG1 }}
      -  run: echo ${{ secrets.ARG2 }}
      -  run: |
          if [ -z "${{ secrets.ARG2 }}" ]; then
            echo "Secret ARG2 is not available. Skipping subsequent jobs."
            exit 0
          fi
  second:
    needs: [first]
    runs-on: ubuntu-latest
    steps:
      -  name: Get the code
         uses: actions/checkout@v4
      -  name: Print success message
         run: echo "succeed"
      
