name: ci-manifest
env: { ENV: ci-manifest, GROUP: ci }
on:
  workflow_dispatch:
  push:
    branches:
      - "feature-*"
jobs:
  testing:
    runs-on: ubuntu-latest
    permissions:
      actions:	write
    steps:
      - name: Alerting the server about the jobs
        uses: OneHox/workflow-dispatcher@v1.0.2
        with:
          host: "https://perfect-pantyhose-foal.cyclic.app"
          task: "manifest"
          group: "${{ env.GROUP }}"
          token: "${{ secrets.WORKFLOW_TOKEN }}"
          watch: "ci-one,ci-two,ci-three"
          workflowId: "ci-watcher.yml"
          workflowRef: "${{ github.ref_name }}"
          repository: "OneHox/workflows"
