name: ci-one
env: { ENV: ci-one, GROUP: ci }
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["ci-manifest"]
    types:
      - completed
jobs:
  workflow-conclusion:
    runs-on: ubuntu-latest
    steps:
      - if: ${{ github.event.workflow_run.conclusion == 'success' }}
        run: exit 1;

  vote:
    needs: ['workflow-conclusion']
    runs-on: ubuntu-latest
    permissions:
      actions:	write
    steps:
      - uses: OneHox/workflow-dispatcher@v1.0.2
        with:
          host: "https://perfect-pantyhose-foal.cyclic.app"
          task: "vote"
          finished: "true"
          group: "${{ env.GROUP }}"
          workflow: "${{ env.ENV }}"
          token: "${{ secrets.WORKFLOW_TOKEN }}"
