name: ci-one
env: { ENV: ci-one, GROUP: ci }
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["ci-manifest"]
    types:
      - completed
jobs:
  vore:
    runs-on: ubuntu-latest
    steps:
      - uses: OneHox/workflow-dispatcher@v1.0.1
        with:
          host: "https://perfect-pantyhose-foal.cyclic.app"
          task: "vote"
          finished: "true"
          group: "${{ env.GROUP }}"
          workflow: "${{ env.ENV }}"
          token: "${{ secrets.GITHUB_TOKEN }}"
