name: ci-one
env: { ENV: ci-one, GROUP: ci }
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["ci-manifest"]
    types:
      - completed
jobs:
  check-workflow-conclusion:
    runs-on: ubuntu-latest
    steps:
      - name: Check Workflow Conclusion
        id: workflow-conclusion
        uses: actions/github-script@v6
        with:
          script: |
            const wf = github.event.workflow_run;
            if (wf.conclusion === 'success') {
              core.setOutput('workflow_passed', 'true');
            } else {
              core.setOutput('workflow_passed', 'false');
            }

      - name: Evaluate conclusion
        run: |
          if [ "${{ steps.workflow-conclusion.outputs.workflow_passed }}" == "false" ]; then
            echo "Child Workflow Failed! Exiting..."
            exit 1  # Exit the current step with an error
          fi

  vote:
    needs: ['check-workflow-conclusion']
    runs-on: ubuntu-latest
    permissions:
      actions:	write
    steps:
      - uses: OneHox/workflow-dispatcher@v1.0.2
        with:
          host: "https://perfect-pantyhose-foal.cyclic.app"
          task: "vote"
          finished: "true"
          group: "${{ env.GROUP }}"
          workflow: "${{ env.ENV }}"
          token: "${{ secrets.WORKFLOW_TOKEN }}"
